:root {
  --txtcolor: #e50914;
  --bgcolor: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base elements */

body {
  background: var(--bgcolor);
  font-family: 'Times New Roman', 'Times', 'serif';
  color: white;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
}

header .container,
.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  margin-left: 5px;
  color: var(--txtcolor);
  font-family: 'Arial Black', 'Times';
  font-size: 40px;
}

header .dropdown-content a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header .dropdown-button {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: transparent;
  color: white;
  font-size: 30px;

  border: none;
  border-radius: 8%;

  cursor: pointer;
  transition: 0.3s ease all;
}

header .dropdown-button:hover {
  background-color: white;
  color: black;
}

header .dropdown-content a:hover {
  color: #fff;
}

/* Main Movie. */

main {
  height: calc(65vh - 30px);
  max-height: calc(65vh - 30px);
}

.main-movie {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url('/img/poster-the-umbrella-academy.jpg');
  min-height: 100%;
  max-height: 100%;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.main-movie .description {
  margin-top: 10px;
  margin-bottom: 40px;
}

.title {
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Arial', 'sans-serif';
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  margin-bottom: 10px;
  font-size: 12px;

  cursor: pointer;
  transition: 0.3s ease all;
}

.button:hover {
  background-color: white;
  color: black;
}

.button i {
  margin-right: 5px;
}

.main-movie .container {
  margin-left: 20px;
  max-height: 100%;
  min-height: 100%;
}
.main-movie .description {
  width: 70%;
}

/* Carousel */

.movie-box {
  width: 100%;
  display: block;
}

.movie-carousel {
  margin-top: 5px;
}

.item img {
  min-height: calc(30vh - 30px);
  max-height: calc(30vh - 30px);
  max-width: calc((30vh - 30px) * 0.8);
}
