@media screen and (max-width: 600px) {
  .dropdown-content {
    display: block;
    position: fixed;
    top: 55px;
    right: -115px;
    min-width: 115px;
    padding: 10px 8px;
    transition: right 0.3s ease-out;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    visibility: hidden;
  }

  .dropdown-content a {
    display: block;
    margin: 0;
  }

  .dropdown .dropdown-button {
    display: block;
  }

  .dropdown.responsive {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    box-sizing: border-box;
  }

  .dropdown.responsive .dropdown-content {
    right: 0px;
    visibility: visible;
  }

  .dropdown.responsive .dropdown-button:hover {
    background-color: var(--txtcolor);
    color: black;
  }

  .button {
    margin-top: 5px;
    width: 250px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 700px) {
  .main-movie .title {
    font-size: 24px;
  }
  .main-movie .description {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .description {
    width: 50%;
  }
}
